*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-size: 100%
}

body {
    font-family: "Roboto", Helvetica, sans-serif;
    background-color: #806367;
    scroll-behavior: smooth
}